:root
{
  --primarycolor:#ff274b;
  --secondarycolor:#FFAA7E;
  --lightcolor:#ffffff;
  --bgcolor-1:#171a1c;
  --bgcolor-2:#22282a;
  --paddig:8%;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

html
{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 8.5px;
  color: var(--lightcolor)
}
/*-----
home section
-----*/
.home
{
  width: 100%;
  height: 100vh;
  background: var(--bgcolor-1);
  display: flex;
  flex-direction: column;
}
 span
{
  color: var(--primarycolor);
}
h3
{
  font-size: 2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  font-weight: 700;
  transition: 0.4s;
}
h3:hover
{
  transform: scale(1.2)
}
.a
{
  color: #0E22FF;
  
}
hr
{
  border: solid 2px #0E22FF;
}
nav
{
  
  padding-top: 2.2rem;
  padding-left: var(--paddig);
  padding-right: var(--paddig);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li
{
  list-style: none;
  display: inline-block;
  margin: 2.3rem 1.9rem;
}
nav ul li a
{
  text-decoration:none;
  color: var(--lightcolor);
  transition: 0.5s;
  font-weight: 600;
  font-size: 1.5rem;
  
}

nav ul li a:hover
{
  color: var(--primarycolor);
  transform: scale(1.2)
}

/*----------------------
---------button button
----------------------*/
#menu
{
  display:none; 
  position: relative;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
#menu span
{
  display: block;
  width: 33px;
  height: 4px;
  background-color:var(--lightcolor);
  border-radius: 6px;
  transform-origin: 0 0;
  transition: 0.4s;
  margin-bottom: 5px;
}
.content
{
  flex-grow: 1;
  padding: var(--paddig);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .container-texts
{
  position: relative;
  bottom: 60px;
}
h1
{
  font-size: 4.15rem;
  margin: 1.7rem 0;
  transition: 0.4s;
}
h1:hover
{
  transform: scale(1.1)
}
h4
{
  font-size: 1.7rem;
  letter-spacing: .18rem;
  color: #FEA4FF;
}
h5{
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  font-weight: 700;
}
p
{
  font-size: 1.8rem;
  letter-spacing: 0.12rem;
  line-height: 2.5rem;
  margin-bottom: 3.4rem;
  color: var(--secondarycolor);
}
.btn
{
  text-decoration: none;
  background-color: var(--primarycolor);
  color: var(--lightcolor);
  font-weight: bolder;
  padding: 1rem 2rem;
  border-radius:30px;
  font-size:1.7rem; 
  transition: 0.4s;
  border: solid 2px var(--lightcolor)
}
.btn:hover
{
  background-color: transparent ;
  border: 2px solid var(--primarycolor);
}
.social
{
  margin-top: 4rem;
}
.social a
{
  text-decoration: none;
}
.social img
{
  margin-right: 2.5rem;
  width: 3.5rem;
  transition: .5s;
}
.social img:hover
{
  transform: scale(1.2);
}
.home .container-imges
{
  width: 45%;
  height: 100%;
  position: relative;
  align-self: flex-end;
  bottom: 20px;
  
}
.home .container-imges img
{
  position: absolute;
  bottom: 0;
  left: 50px;
  height: 100%;
}
.home .container-imges .my
{
  width: 40rem;
  position: absolute;
  left: 80px;
  bottom: 20px;
  transition: .5s;
}
.home .container-imges .my:hover
{
  transform: scale(1.1)
}

.home .container-imges .shapes
{
  width: 30rem;
}
/*----
about section
----*/

.about{
  background: var(--bgcolor-2);
  padding:2rem  var(--paddig);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.about h1
{
  transition: 0.4s;
}
.about h1:hover
{
  transform: scale(1.1);
}
.about .container-imges{
  width: 35%;
  
}
.about .container-imges img{
  width: 90%;
  height: 250px;
}
.about .container-texts
{
  width: 45%;
}

/*----
service section
----*/
.service
{
  background-color: var(--bgcolor-1);
  padding: var(--paddig);
 
}
.text-center
{
  text-align: center;
}

.box
{
  display: flex;
  justify-content: space-between;
}
.card
{
  width: 200px;
  background-color: var(--bgcolor-2);
  border-radius: 20px;
  padding: 1.7rem 2rem;
  text-align: center;
  transition: 0.6s;
  margin: 1.6rem
}
.card:hover
{
 background: #0600FF;
 border: 1px solid var(--lightcolor);
 
}
.card i
{
  font-size: 4.5rem;
  text-align: center;
  color: var(--primarycolor);
  padding: 2rem;
}

/*-----
skills section
-----*/
.skills{
  background: var(--bgcolor-2);
  padding:2rem  var(--paddig);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.skills h1
{
  transition: 0.4s;
}
.skills h1:hover
{
  transform: scale(1.1);
}
.skills .container-imges{
  width: 35%;
  
}
.skills .container-imges img{
  width: 90%;
  height: 250px;
}
.skills .container-skills
{
  width: 50%;
}
.skill
{
  background-color: var(--lightcolor);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .container-skills .content-skills .skill img
{
  width:80%;
  border-radius: 50%;
}
.content-skills
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}
/*----
footer
-----*/
footer
{
  padding-top: 2rem var(--paddig);
  background-color: var(--bgcolor-1);
}
footer .content-footer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}
footer .content-footer h3
{
  text-align: center;
}

footer .content-footer p
{
  text-align: center;
}
footer .end
{
  color: var(--lightcolor);
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}
footer .content-footer .social
{
  margin: 1.5rem;
}


.menu.is-active  span:nth-child(1){
  transform: translate(0px, -2px) rotate(45deg);
}

.menu.is-active  span:nth-child(2){
  opacity: 0;
  transform: translateX(15px);
}

.menu.is-active  span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.menu.is-active span
{
 background-color: red;
}
/*----------
media quairy
------------
*/

@media screen and (max-width: 575px) {
 :root{
 --padding: 1.5rem
}
 html{
   font-size: 10px;
 }
  .home .container-imges{
    display: none;
  }
  nav
  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: var(--bgcolor-1);
    border-bottom: solid 1px var(--bgcolor-2);
    padding-top: 0;
    z-index: 100;
  }
  
  nav h3
  {
    font-size: 1.7rem;
    font-weight: 700;
  }
  nav .btn
  {
    display: none;
  }
  nav ul {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 45vw;
    height: 60vh;
    background-color: var(--bgcolor-2);
  }
  
  nav ul.is-active
  {
    display: block;
  }
 
  nav ul li
  {
    display: block;
    text-align: center;
    margin: 50px;
  }
 
  .home .container-texts{
    bottom: 0em;
  }
  .social{
    margin-top: 85px;
  }
  h4
  {
    margin-top: 70px;
  }
/*--------button--menu----*/
#menu{
  display: block;
  cursor: auto;
  
}
.about
{
  height: 100vh;
}
.about .container-imges
{
  display: none;
}
.about .container-texts
{
  width: 100%;
}

.service h1
{
  font-size: 5.7rem
}
.box
{
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card{
  width: 300px;
}
.skills
{
  height: 100vh;
}

.skills .container-imges{
  display: none;
}
.skills .container-skills
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:  center;
  flex-direction: column;
  
}
.skills .container-skills .content-skills
{
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}
.skill
{
  width:50px ;
  height: 50px;
}
footer
{
  width: 100%;
}


}



@media screen and (min-width: 576px) and (max-width:767px ) {
 :root{
 --padding: 1.5rem
}
 html{
   font-size: 8px;
 }
  .home .container-imges{
    display: none;
  }
  nav
  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: var(--bgcolor-1);
    border-bottom: solid 1px var(--bgcolor-2);
    padding-top: 0;
    z-index: 100;
  }
  
  nav h3
  {
    font-size: 2.7rem;
    font-weight: 700;
  }
  nav .btn
  {
    display: none;
  }
  nav ul {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 35vw;
    height: 100vh;
    background-color: var(--bgcolor-2);
    
  }
  nav ul.is-active
  {
    display: block;
  }
  nav ul li
  {
    display: block;
    text-align: center;
    margin: 38px;
    
    
  }
  .home .container-texts{
    bottom: 0em;
  }
  .home .container-texts h1
  {
    font-size: 1.9rem;
    margin-top: 35px;
  }
  .social{
    margin-top: 30px;
  }
  h4
  {
    display: none;
    
  }
/*--------button--menu----*/
#menu{
  display: block;
}

.about .container-imges
{
  display: none;
}
.about .container-texts
{
  width: 100%;
}

.service h1
{
  font-size: 5.7rem
}
.box
{
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card{
  width: 250px;
  margin: 20px;
}

.skills .container-imges{
  display: none;
}
.skills .container-skills
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:  center;
  flex-direction: column;
  
}
.skills .container-skills .content-skills
{
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}
.skill
{
  width:50px ;
  height: 50px;
}
footer
{
  width: 100%;
}

}
